#floating-whatsapp {
    position: fixed;
    z-index: 50;
    bottom: .75rem;
    right: .75rem;
    background-color: $green;
    color: $blue;
    line-height: 1;
    padding: .725rem 1.25rem;
    border-radius: 5rem;
    font-size: .825rem;
    transition: .6s ease-in-out;
    text-transform: lowercase;

    @media #{$mq-sm-min} {
        font-size: .925rem;
        padding: .725rem 1.5rem;
        bottom: 1rem;
        right: 1rem;
    }

    &:hover {
        background-color: darken($blue, 10);
        color: $white;
    }
}