#main-content {
    &.home {
        #banner {
            padding-top: 4.75rem;
            margin-bottom: clamp(2rem, 3vw, 3rem);

            @media #{$mq-sm-min} {
                padding-top: 5.5rem;
            }

            .col-12 {
                .banner-slider {
                    .swiper-slide {
                        &.swiper-slide-active {
                            .box {
                                img {
                                    transform: scale(1);
                                }
                            }
                        }

                        .box {
                            position: relative;
                            overflow: hidden;
                            width: 100%;
                            height: 70vh;
                            border-radius: clamp(1rem , 2vw, 2rem);

                            @media #{$mq-sm-min} {
                                border-bottom-left-radius: 0;
                                height: 60vw;
                            }

                            @media #{$mq-lg-min} {
                                height: 40vw;
                            }

                            &:before {
                                content: '';
                                position: absolute;
                                z-index: 1;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 25%;
                                background: $black;
                                background: linear-gradient(0deg, transparentize($black, 0) 0%, transparentize($black, 1) 100%);
                                opacity: .5;
                            }

                            img {
                                transform: scale(1.075);
                                transition: 7s ease-in-out;
                            }
                        }
                    }
                }

                .autoplay-indicator {
                    position: absolute;
                    z-index: 3;
                    pointer-events: none;
                    bottom: 1.175rem;
                    right: 3rem;
                    height: .125rem;
                    backdrop-filter: blur(1rem);
                    border-radius: 1rem;
                    width: 45vw;

                    @media #{$mq-md-min} {
                        width: 25vw;
                        bottom: 2rem;
                    }

                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 100%;
                        background-color: $white;
                    }
                }

                .banner-nav {
                    position: absolute;
                    z-index: 2;
                    bottom: 1rem;
                    left: 2rem;
                    display: flex;
                    gap: .125rem;

                    @media #{$mq-md-min} {
                        gap: 2rem;
                    }

                    .swiper-pagination-bullet {
                        opacity: .5;
                        display: block;
                        font-size: 0;
                        background-color: $white;

                        @media #{$mq-md-min} {
                            width: auto;
                            height: auto;
                            background-color: transparent;
                            font-size: 1rem;
                            line-height: 1.4;
                            border-radius: 0;
                            font-weight: $bold;
                            color: $white;
                        }

                        &.swiper-pagination-bullet-active {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        #about {
            border-radius: 1rem;
            background-color: $blue;
            margin-bottom: clamp(2rem, 10vw, 10rem);
            color: $white;
            
            @media #{$mq-sm-min} {
                border-radius: 0;
                background-color: transparent;
            }
        
            .blue-box {
                display: block;
                color: $white;
                padding: 3rem 1rem;
        
                @media #{$mq-sm-min} {
                    border-radius: clamp(1rem , 2vw, 2rem);
                    border-top-left-radius: 0;
                    background-color: $blue;
                    padding: 4rem;
                }

                h2 {
                    text-transform: lowercase;
                    display: block;
                    margin-bottom: clamp(1.5rem, 5vw, 5rem);

                    @media #{$mq-md-min} {
                        width: 85%;
                    }

                    @media #{$mq-lg-min} {
                        width: 75%;
                    }

                    @media #{$mq-xl-min} {
                        width: 50%;
                    }
                }

                p {
                    margin-bottom: 1.5rem;

                    @media #{$mq-md-min} {
                        margin-bottom: 0;
                        padding-right: 1rem;
                    }
                }
            }
        }

        #cards {
            margin-bottom: clamp(2rem, 10vw, 10rem);
            overflow: visible;

            .top {
                margin-bottom: clamp(2rem, 3vw, 3rem);

                @media #{$mq-sm-min} {
                    display: none;
                }

                @media #{$mq-sm-max} {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                .left {
                    h2 {
                        text-transform: lowercase;
                    }
                }
            }

            .cards-slider {
                cursor: grab;

                @media #{$mq-lg-min} {
                    cursor: auto;
                }

                @media #{$mq-sm-max} {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                &.is-dragging {
                    cursor: grabbing;

                    @media #{$mq-lg-min} {
                        cursor: auto;
                    }

                    .box {
                        transform: scale(.9);

                        @media #{$mq-lg-min} {
                            transform: none;
                        }
                    }
                }

                .swiper-wrapper {
                    @media #{$mq-lg-min} {
                        flex-wrap: wrap;
                        height: auto;
                        gap: 1rem;
                        justify-content: space-between;
                    }

                    .swiper-slide {
                        @media #{$mq-lg-min} {
                            width: calc(100% / 5 - 1rem);
                        }

                        &:first-child {
                            display: none;

                            @media #{$mq-sm-min} {
                                display: block;
                            }

                            .box {
                                text-align: left;
                                box-shadow: inset 0 0 0 1px $gray-lightest;
                                padding: 2rem;

                                .floating-text {
                                    box-shadow: inset 0 0 0 1px $gray-light;
                                    color: $gray-light;
                                    background-color: transparent;
                                    backdrop-filter: none;
                                }

                                .title {
                                    color: $gray-light;
                                    font-size: 2rem;
                                    line-height: 1.1;
                                    text-transform: lowercase;

                                    @media #{$mq-lg-min} {
                                        font-size: clamp(1rem, 2vw, 2rem);
                                    }
                                }
                            }
                        }

                        .box {
                            position: relative;
                            overflow: hidden;
                            border-radius: clamp(.625rem, 1.5vw, 1.5rem);
                            width: 100%;
                            height: 60vh;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: .6s ease-in-out;
                            padding: 2rem 1.5rem;
                            color: $white;
                            text-align: center;
                            gap: .5rem;
        
                            @media #{$mq-lg-min} {
                                height: 55vh;
                                border-radius: .625rem;
                            }

                            &:hover {
                                img {
                                    @media #{$mq-lg-min} {
                                        transform: scale(1.075);
                                    }
                                }
                            }

                            .floating-text {
                                position: absolute;
                                z-index: 2;
                                top: 1rem;
                                left: 1rem;
                                display: inline-block;
                                padding: .25rem 1.5rem;
                                backdrop-filter: blur(1rem);
                                color: $white;
                                text-transform: lowercase;
                                border-radius: 3rem;
                                background-color: transparentize($gray-light, .5);
                            }

                            img {
                                transition: 1s ease-in-out;
                            }
                        }
                    }
                }
            }
        }

        #services {
            margin-bottom: clamp(2rem, 10vw, 10rem);

            .top {
                margin-bottom: clamp(2rem, 3vw, 3rem);

                @media #{$mq-sm-min} {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                }

                @media #{$mq-sm-max} {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                .left {
                    @media #{$mq-sm-min} {
                        width: 75%;
                    }

                    @media #{$mq-xl-min} {
                        width: 50%;
                    }

                    h2 {
                        text-transform: lowercase;
                        margin-bottom: clamp(1rem, 2vw, 2rem);
                    }
                }
            }

            .services-slider {
                cursor: grab;

                @media #{$mq-sm-max} {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                &.is-dragging {
                    cursor: grabbing;

                    .box {
                        transform: scale(.9);
                    }
                }

                .swiper-slide {
                    &:nth-child(even) {
                        @media #{$mq-md-min} {
                            padding-top: 3rem;
                        }
                    }

                    .box {
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        align-items: center;
                        transition: .6s ease-in-out;
                        padding: 2rem 0;

                        &:before {
                            content: '';
                            position: absolute;
                            z-index: 0;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 90%;
                            background-color: $gray-lightest;
                            border-top-left-radius: 2rem;
                            border-top-right-radius: 2rem;
                            border-bottom-left-radius: 100rem;
                            border-bottom-right-radius: 100rem;
                        }

                        h3 {
                            position: relative;
                            z-index: 2;
                            text-transform: lowercase;
                            display: block;
                            padding: 0 1.5rem;
                            margin-bottom: 1rem;

                            @media #{$mq-md-min} {
                                padding: 0 2.5rem;
                                margin-bottom: 1.5rem;
                            }
                        }

                        p {
                            position: relative;
                            z-index: 2;
                            display: block;
                            padding: 0 1.5rem;
                            margin-bottom: .5rem;

                            @media #{$mq-md-min} {
                                padding: 0 2.5rem;
                            }
                        }

                        img {
                            position: relative;
                            z-index: 2;
                        }
                    }
                }
            }
        }

        #directions {
            height: 100vh;
            margin-bottom: clamp(2rem, 10vw, 10rem);

            .directions-pin {
                p {
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    color: $white;
                    opacity: 0;

                    a {
                        color: $green;
                    }
                }

                .images {
                    .position {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;

                        .image {
                            position: absolute;
                            border-radius: .5rem;
                            overflow: hidden;

                            &.main-image {    
                                top: 50%;
                                left: 50%;
                                width: 26.25vw;
                                height: 25vh;
                                transform: translate(-50%,-50%);
                            }

                            &.image-01 {
                                top: 5vh;
                                left: 36.80556vw;
                                width: 31.25vw;
                                height: 30vh;
                            }

                            &.image-02 {
                                top: 22.5vh;
                                left: 15.97222vw;
                                width: 19.16667vw;
                                height: 40vh;
                            }

                            &.image-03 {
                                top: 50%;
                                left: 64.93056vw;
                                width: 26.25vw;
                                height: 25vh;
                                transform: translateY(-50%);
                            }

                            &.image-04 {
                                top: 65vh;
                                left: 10.06944vw;
                                width: 31.25vw;
                                height: 30vh;
                            }

                            &.image-05 {
                                top: 65vh;
                                left: 43.05556vw;
                                width: 20.13889vw;
                                height: 30vh;
                            }

                            &.image-06 {
                                top: 65vh;
                                left: 64.93056vw;
                                width: 19.16667vw;
                                height: 12.84722vw;
                            }
                        }
                    }
                }
            }
        }

        #team {
            margin-bottom: clamp(2rem, 10vw, 10rem);

            .top {
                margin-bottom: clamp(2rem, 3vw, 3rem);

                @media #{$mq-sm-min} {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                }

                @media #{$mq-sm-max} {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                .left {
                    @media #{$mq-sm-min} {
                        width: 75%;
                    }

                    @media #{$mq-xl-min} {
                        width: 50%;
                    }

                    h2 {
                        text-transform: lowercase;
                        margin-bottom: clamp(1rem, 2vw, 2rem);
                    }

                    .desc {
                        
                    }
                }
            }

            .team-slider {
                cursor: grab;

                @media #{$mq-sm-max} {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                &.is-dragging {
                    cursor: grabbing;

                    .box {
                        transform: scale(.9);
                    }
                }

                .box {
                    position: relative;
                    overflow: hidden;
                    border-radius: clamp(.625rem, 1.5vw, 1.5rem);
                    width: 100%;
                    height: 60vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    transition: .6s ease-in-out;
                    padding: 2rem 1.5rem;
                    color: $white;
                    text-align: center;
                    gap: .5rem;

                    @media #{$mq-lg-min} {
                        height: 70vh;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 50%;
                        background: $black;
                        background: linear-gradient(0deg, transparentize($black, 0) 0%, transparentize($black, 1) 100%);
                        opacity: .5;
                    }

                    img {
                        z-index: 0;
                    }

                    h3 {
                        position: relative;
                        z-index: 2;
                    }

                    p {
                        position: relative;
                        z-index: 2;
                    }
                }
            }
        }

        #testimonials {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            background-color: $gray-lightest;
            margin-bottom: clamp(2rem, 10vw, 10rem);
            
            @media #{$mq-sm-min} {
                border-radius: 0;
                background-color: transparent;
            }

            .gray-box {
                display: block;
                padding: 3rem 1rem;

                @media #{$mq-sm-min} {
                    position: relative;
                    overflow: hidden;
                    border-top-left-radius: clamp(1rem , 2vw, 2rem);
                    border-bottom-left-radius: clamp(1rem , 2vw, 2rem);
                    background-color: $gray-lightest;
                    padding: 4rem 4rem 3rem 4rem;
                    margin-bottom: 2rem;
                }

                .top {
                    margin-bottom: clamp(2rem, 3vw, 3rem);

                    @media #{$mq-sm-min} {
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                    }

                    h2 {
                        text-transform: lowercase;
                    }
                }

                .testimonials-slider {
                    cursor: grab;

                    &.is-dragging {
                        cursor: grabbing;

                        .box {
                            transform: scale(.9);
                            
                        }
                    }

                    .box {
                        display: flex;
                        flex-direction: column;
                        gap: 1.5rem;
                        background-color: $white;
                        border-radius: .625rem;
                        padding: 2rem 2.5rem;
                        transition: .6s ease-in-out;

                        .text {
                            
                        }

                        .bottom {
                            color: $blue;

                            .name {

                            }

                            .position {
                                text-transform: lowercase;
                            }
                        }
                    }
                }
            }
        }

        #contact {
            overflow: visible;

            .left {
                @media #{$mq-lg-min} {
                    padding-right: 3rem;
                }

                @media #{$mq-sm-max} {
                    padding-left: calc(15px + 1rem);
                    padding-right: calc(15px + 1rem);
                }

                h2 {
                    display: block;
                    margin-bottom: clamp(2rem, 3vw, 3rem);
                }

                .blue-button {
                    width: 100%;
                    margin: 1rem 0 -1rem 0;
                    padding: 0;

                    span {
                        display: block;
                        width: 100%;
                    }
                }
            }

            .right {
                display: none;

                @media #{$mq-md-min} {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .image {
                    position: absolute;
                    top: 0;
                    right: 15px;
                    z-index: 1;
                    overflow: hidden;
                    width: calc(100% - 30px);
                    height: 100%;
                    max-height: 40rem;
                    border-radius: 2rem;

                    @media #{$mq-lg-min} {
                        border-top-right-radius: 2rem;
                        border-bottom-right-radius: 2rem;
                        border-top-left-radius: 100rem;
                        border-bottom-left-radius: 100rem;
                    }
                }

                p {
                    position: absolute;
                    z-index: 2;
                    top: clamp(32rem, 35vw, 35rem);
                    right: 2rem;
                    display: inline-block;
                    padding: .5rem 2rem;
                    border-radius: 3rem;
                    color: $white;
                    text-transform: lowercase;
                    font-weight: $bold;
                    backdrop-filter: blur(1rem);
                }
            }
        }
    }
}